VITE_NEON_AUTH_URL=https://ep-bitter-salad-aclfu4ys.neonauth.sa-east-1.aws.neon.tech/neondb/auth
VITE_NEON_DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-bitter-salad-aclfu4ys-pooler.sa-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
